# Python bytecode cache
__pycache__/
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/

# Environment variables
.env
